body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    transition: all 0.5s;
}

main {
    flex: 1 0 auto;
}

.section {
    padding-top: 4vw;
    padding-bottom: 4vw;
}
.page-footer {
    margin-top: 100px;
}

.nav-wraper a,
.nav-wraper li:focus-visible {
    outline: none;
}

/* Date picker */

.outer-div {
    height: 50px;
    overflow: hidden;
}
.inner-div {
    width: 3000px;
}
.outer-div ul {
    margin: 0;
    padding: 0;
    display: block;
}
.inner-div ul li {
    float: left;
    margin: 0 10px;
    width: 60px;
    font-size: 16px;
    text-align: center;
    /* transition: all 0.5s ease-in-out; */
    cursor: pointer;
}
.day-times {
    background-color: #fff;
}
.time-line {
    padding: 12px 0 6px;
    background-color: #fff;
}
.big-card {
    padding-top: 1px !important;
    padding-bottom: 1px !important;
}
.stadium .selected {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 2.0em;
}
.stadium:hover {
    cursor: pointer;
}

.hidden {
    display: none;
}
.day-times {
    display: none;
}
.display-date {
    font-size: 16px;
}

.booking {
    color: green;
    cursor: pointer;
}
.selected-booking {
    color: green;
    font-weight: bold;
    cursor: pointer;
}
.date-picker:hover {
    color: indigo;
    transition: all 0.2s;
}
.active {
    color: indigo;
    font-weight: bold;
}
